<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Harry Bui: Travel and Photography</title>
  <meta name="description" content="Travel and photography by Harry Bui">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>

<script id="image-template" type="text/x-lodash-template">
  <li>
    <img src="assets/img/blank.gif" data-src="<%= imageUrl %>" alt="<%= altTitle %>"/>
    <a href="<%= locationUrl %>" target="_blank">
      <h3 class="title"><%= title %></h3>
      <h4 class="sub-title"><%= subTitle %></h4>
    </a>
  </li>
</script>

<div class="controls">
  <button class="previous-arrow fa fa-angle-left"></button>
  <button class="next-arrow fa fa-angle-right"></button>
</div>

<ul class="image-list"></ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script src="assets/js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='https://www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-40466500-1');ga('send','pageview');
</script>
</body>
</html>
